body {
    font-family: 'Source Sans Pro';
    margin:0;
    background-image: url('gunung.jpg');
}
a {
    text-decoration:none;
    color:red;
    font-size:1.8em;
    font-weight:700;
}
img { 
    width:200px;
}
header {
    background:#FFFFFF;
    padding: 1em;
}

.container {
    padding: 4em 1em;
}


ul {
    margin:0;padding:0;
}
ul li {
    padding: 2em;
    color:black;
}
ul li span {
    display:block;
    font-size:1.4em;
    margin-bottom:1em;
    color: white;
}
table,tr,td{
font-family: century gothic;
border: 1px black;
padding: 5px;
border-collapse: collapse;
}
 .rounded-image{
    border-radius: 360px;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
}